.accountButton {
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    padding: 0.75rem;
    display: flex;
}

.profilePicture {
    -webkit-user-drag: none;
    border-radius: 100%;
    aspect-ratio: 1/1;
    height: 28px;
    width: 28px;
}

.accountDetails {
    padding-inline-start: 0.3125rem;
    align-items: center;
    flex-direction: row;
    display: flex;
    gap: 0.25rem;
}

@media screen and (max-width: 799px) {
    .accountDetails {
        display: none;
    }
}

.accountPopout {
    background-color: var(--pri);
    box-shadow: black 0 10px 10px;
    position: fixed;
    padding: 1rem;
    top: 51px;
    right: 0;
}

.accountPopoutCard {
    justify-content: center;
    flex-flow: row nowrap;
    align-items: center;
    display: flex;
    gap: 0.5rem;
}

.accountPopoutCard .profilePicture {
    height: 52px;
    width: 52px;
}

.accountPopoutCard div * {
    line-height: 1;
}

.accountPopoutCard div h2 {
    align-items: center;
    display: flex;
    gap: 0.125rem;
}

.links {
    flex-flow: column nowrap;
    margin-top: 0.5rem;
    display: flex;
}

.links a {
    width: fit-content;
}