.cardRoot {
    background-color: var(--pri);
    border-radius: 1rem;
}

.cardContent {
    padding: 1rem;
}

.radioHeader {
    border-radius: 1rem 1rem 0 0;
    background-color: white;
    align-items: center;
    user-select: none;
    padding: 1rem;
    display: flex;
    color: black;
    gap: 0.5rem;
}

.radioHeader div {
    flex-flow: column;
    display: flex;
}

.radioHeader div span {
    line-height: 1;
}

.radioHeader div :first-child {
    font-size: 1.675rem;
    font-weight: bold;
}

.radioHeader img {
    display: block;
}

.cardHolder {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    display: flex;
}

.cardItem {
    background-color: var(--sec);
    border-radius: 1rem;
    max-width: 400px;
    width: 100%;
}

.cardItemContent {
    padding: 1rem;
}

.cardItemContent * {
    line-height: 1;
}

.cardHeader {
    border-radius: 1rem 1rem 0 0;
    background-color: white;
    min-height: 12rem;
    display: flex;
}

.defaultHeader {
    background-image: url("/images/radio.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 144px;
}

.christmas {
    background-image: url("https://cdn.croomssched.tech/data/7291ef48-5f58-4f73-a79d-23f146afd471/Drummer%20Boy%20Christmas%20Wide.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.christmas::after {
    border-radius: 1rem 1rem 0 0;
    backdrop-filter: blur(5px);
    position: relative;
    width: calc(100%);
    content: "";
    inset: 0;
}