@import url("/tools/welcome_experience/app.css");

#root > #header-logo > span {
    display: flex;
    flex-flow: column;
    justify-content: center;
    line-height: 1;
}

#root > #header-logo > span > span:last-child {
    font-size: 14px;
}

#root > main {
    max-width: 600px;
    margin: 0 auto;
}

#root > footer {
    user-select: none;
    text-align: center;
    opacity: 0.7;
}