body:has(.pollLoader) {
    header, footer, nav, #christmas-menu {
        display: none !important;
    }

    main {
        padding: 0;
    }
}

.container {
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: center;
    text-align: center;
    user-select: none;
    position: fixed;
    display: flex;
    left: 50%;
    top: 50%;
}

.header {
    margin-top: revert;
}

.content {
    margin: 0;
}

.small {
    font-style: italic;
    font-size: small;
}