.content {
    width: 100%;
}

.post {
    border: solid 1px var(--mid-qua);
    border-radius: 0.5rem;
    max-height: 118px;
    overflow-y: auto;
    padding: 0.75rem;
    line-height: 1;
    width: 100%;
}

.input {
    text-align: left;
}

.closeFriends {
    max-width: calc(100% - 1rem);
    background-color: #129f3b;
    align-items: flex-start;
    border-radius: 1rem;
    padding: 0.5rem;
    display: flex;
    color: white;
    gap: 0.25rem;
}

.closeFriends > input {
    height: 1rem;
    width: 1rem;
}

.closeFriends > label {
    font-size: small;
    line-height: 1;
    width: 100%;
}

.closeFriends > label > strong {
    font-size: 1rem;
    display: block;
}

.closeFriends > label > a {
    color: inherit !important;
}