.prowlerPostContainer {
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    gap: 0.5rem;
}

.corePost {
    background: var(--sec);
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.corePostHeader {
    text-decoration: none !important;
    justify-content: space-between;
    margin-bottom: 0.75rem;
    position: relative;
    user-select: none;
    flex-flow: row;
    color: inherit;
    display: flex;
    width: 100%;
}

.corePostHeaderItem {
    text-decoration: none !important;
    justify-content: center;
    width: fit-content;
    user-select: none;
    flex-flow: row;
    display: flex;
}

.corePostHeader * {
    cursor: inherit;
}

.corePostHeaderContent {
    text-decoration: none;
    margin-left: 0.5rem;
    font-size: 0.9rem;
    flex-flow: column;
    line-height: 1;
    display: flex;
}

.corePostHeaderContent .username {
    align-items: center;
    flex-flow: row;
    display: flex;
}

.corePostHeaderContent span {
    text-decoration: none;
    color: var(--main);
    line-height: 1;
    opacity: 0.8;
}

.corePostHeaderContent > :last-child {
    font-size: 0.75rem;
}

.corePostHeaderContent svg{
    margin-left: 0.25rem;
    margin-top: 1%;
}

.corePostContent {
    word-break: break-word;
    overflow-y: hidden;
    max-height: 200px;
}

.corePostContent img {
    height: auto;
    width: 100%;
}

.viewMoreButton {
    text-decoration: underline;
    font-size: 0.75rem;
    user-select: none;
}

.viewMoreButton:hover {
    text-decoration: none;
}

.corePostContent.viewMore {
    max-height: none;
}

.profilePicture {
    -webkit-user-drag: none;
    border-radius: 100%;
    user-select: none;
    pointer-events: none;
}

.profileBanner {
    -webkit-user-select: none;
    aspect-ratio: 9 / 5;
    user-select: none;
    height: auto;
    width: 100%;
}

.userPageBanner {
    border-radius: 1rem 1rem 0 0;
    width: calc(100% + 2rem);
    position: relative;
    left: -1rem;
    top: -1rem;
}

.menu button span {
    padding: 0 0.75rem 0 0;
    color: var(--main);
    font-size: 1rem;
    line-height: 1;
    display: block;
}

.menu hr {
    border-width: 0.031rem;
    margin: 0;
}

.pronouns {
    margin-block-start: 0.5rem !important;
    background-color: var(--sec);
    font-size: 0.7rem !important;
    line-height: 8px !important;
    border-radius: 0.3125rem;
    max-width: fit-content;
    opacity: 1 !important;
    padding: 0.3125rem;
    display: block;
}

.bio {
    margin-block-start: 1rem;
}

.buttonBar {
    margin-block-start: 1rem;
    display: flex;
    gap: 0.25rem;
}

.buttonBar button {
    color: var(--main) !important;
    background-color: var(--sec);
    line-height: 1 !important;
    font-size: inherit;
    width: 100%;
}

.buttonBar button:hover {
    background-color: var(--mid-sec);
    opacity: 1;
}

.buttonBar button:active {
    background-color: var(--mid-pri);
    opacity: 1;
}

.usernameFlex {
    opacity: 1 !important;
    align-items: center;
    display: flex;
}

.usernameFlex span {
    opacity: 0.8;
}

.usernameFlex img {
    margin-left: 0.25rem !important;
    margin-top: 1%;
}

.hoverCard {
    transform: translate(-0.25rem, 0.5rem);
    background-color: var(--pri);
    box-shadow: 0 0 1rem black;
    border-radius: 1rem;
    position: absolute;
    max-width: 24rem;
    padding: 1rem;
    z-index: 10;
}