:root:has(body.frieren) {
    --accent-color: var(--windows);
}

body.frieren::before {
    background-image: url("https://mikhail.croomssched.tech/apiv2/fs/attached/Frieren_bg.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0; left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}
