:root:has(body.landon-homeless-camp) {
    --accent-color: var(--landon-homeless-camp);
}

body.landon-homeless-camp::before {
    background-image: url("https://cdn.croomssched.tech/data/7291ef48-5f58-4f73-a79d-23f146afd471/landon.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0; left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    opacity: 0.6;
<<<<<<< HEAD:public/styles/themes/landon-homeless-camp.css
    content: "";
=======
>>>>>>> next-js-rewrite:src/styles/themes/landon-homeless-camp.css
}

body.landon-homeless-camp::after {
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0; left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
<<<<<<< HEAD:public/styles/themes/landon-homeless-camp.css
    content: "";
=======
>>>>>>> next-js-rewrite:src/styles/themes/landon-homeless-camp.css
}

@media screen and (prefers-color-scheme: dark) {
    body.landon-homeless-camp::before {
        opacity: 1;
    }
}

:root.light > body.landon-homeless-camp::before {
    opacity: 0.6 !important;
}

:root.dark > body.landon-homeless-camp::before {
    opacity: 1 !important;
}