body.wawwf::before {
    background-image: url("https://cdn.croomssched.tech/data/7291ef48-5f58-4f73-a79d-23f146afd471/WAWWF-light.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0; left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    content: "";
}

body.wawwf::after {
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0; left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    content: "";
}

@media screen and (prefers-color-scheme: dark) {
    body.wawwf::before {
        background-image: url("https://cdn.croomssched.tech/data/7291ef48-5f58-4f73-a79d-23f146afd471/WAWWF-dark.png");
    }

    body.wawwf::after {
        backdrop-filter: blur(10px) brightness(60%);
    }
}

:root.light >body.wawwf::before {
    background-image: url("https://cdn.croomssched.tech/data/7291ef48-5f58-4f73-a79d-23f146afd471/WAWWF-light.png") !important;
}

:root.light >body.wawwf::after {
    backdrop-filter: blur(10px) !important;
}

:root.dark >body.wawwf::before {
    background-image: url("https://cdn.croomssched.tech/data/7291ef48-5f58-4f73-a79d-23f146afd471/WAWWF-dark.png") !important;
}

:root.dark >body.wawwf::after {
    backdrop-filter: blur(10px) brightness(60%) !important;
}