@font-face {
    font-family: "SegoeUI";
    src: url("/src/styles/fonts/fonts/SegUIVar.woff2");
}

@font-face {
    font-family: "GoogleEmoji";
    src: url("/src/styles/fonts/fonts/NotoColorEmoji.ttf");
}

@font-face {
    font-family: "Torus";
    src: url("/src/styles/fonts/fonts/Torus.woff2");
}

@font-face {
    font-family: "CACula";
    src: url("/src/styles/fonts/fonts/CACula.woff2");
}

@font-face {
    font-family: "StudySans";
    src: url("/src/styles/fonts/fonts/CroomsschedSans/regular.eot")format("embedded-opentype"),
    url("/src/styles/fonts/fonts/CroomsschedSans/regular.woff2")format("woff2"),
    url("/src/styles/fonts/fonts/CroomsschedSans/regular.woff")format("woff"),
    url("/src/styles/fonts/fonts/CroomsschedSans/regular.ttf")format("truetype"),
    url("/src/styles/fonts/fonts/CroomsschedSans/regular.svg")format("svg");
}

@font-face {
    font-family: "SFPro";
    src: url("/src/styles/fonts/fonts/SF-Pro.ttf");
}

@font-face {
    font-family: "Avenir";
    src: url("/src/styles/fonts/fonts/AvenirNextLTPro.woff")format("woff"),
    url("/src/styles/fonts/fonts/AvenirNextLTPro.ttf")format("truetype");
}

@font-face {
    font-family: "Avenir";
    src: url("/src/styles/fonts/fonts/AvenirLTPro/45.otf") format("opentype")
}

@font-face {
    font-family: "Avenir";
    font-weight: 300;
    src: url("/src/styles/fonts/fonts/AvenirLTPro/35.otf") format("opentype")
}

@font-face {
    font-family: "Avenir";
    font-weight: 500;
    src: url("/src/styles/fonts/fonts/AvenirLTPro/65.otf") format("opentype")
}

@font-face {
    font-family: "Avenir";
    font-weight: 700;
    src: url("/src/styles/fonts/fonts/AvenirLTPro/85.otf") format("opentype")
}

@font-face {
    font-family: "Avenir";
    font-weight: 900;
    src: url("/src/styles/fonts/fonts/AvenirLTPro/95.otf") format("opentype")
}

@font-face {
    font-family: "Aptos";
    src: url("/src/styles/fonts/fonts/Aptos/Aptos.ttf") format("truetype");
}

@font-face {
    font-family: "Aptos";
    font-style: italic;
    src: url("/src/styles/fonts/fonts/Aptos/Aptos-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Aptos";
    font-weight: 300;
    src: url("/src/styles/fonts/fonts/Aptos/Aptos-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Aptos";
    font-weight: 600;
    src: url("/src/styles/fonts/fonts/Aptos/Aptos-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Aptos";
    font-weight: 700;
    src: url("/src/styles/fonts/fonts/Aptos/Aptos-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Aptos";
    font-weight: 800;
    src: url("/src/styles/fonts/fonts/Aptos/Aptos-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "Aptos";
    font-weight: 900;
    src: url("/src/styles/fonts/fonts/Aptos/Aptos-Black.ttf") format("truetype");
}

@font-face {
    font-family: "Aptos";
    font-weight: 300;
    font-style: italic;
    src: url("/src/styles/fonts/fonts/Aptos/Aptos-Light-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Aptos";
    font-weight: 600;
    font-style: italic;
    src: url("/src/styles/fonts/fonts/Aptos/Aptos-SemiBold-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Aptos";
    font-weight: 700;
    font-style: italic;
    src: url("/src/styles/fonts/fonts/Aptos/Aptos-Bold-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Aptos";
    font-weight: 800;
    font-style: italic;
    src: url("/src/styles/fonts/fonts/Aptos/Aptos-ExtraBold-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Aptos";
    font-weight: 900;
    font-style: italic;
    src: url("/src/styles/fonts/fonts/Aptos/Aptos-Black-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Comic";
    src: url("/src/styles/fonts/fonts/Comic/comic.ttf") format("truetype");
}

@font-face {
    font-family: "Comic";
    font-weight: bold;
    src: url("/src/styles/fonts/fonts/Comic/comicbd.ttf") format("truetype");
}

@font-face {
    font-family: "Comic";
    font-style: italic;
    src: url("/src/styles/fonts/fonts/Comic/comici.ttf") format("truetype");
}

@font-face {
    font-family: "Comic";
    font-style: italic;
    font-weight: bold;
    src: url("/src/styles/fonts/fonts/Comic/comicz.ttf") format("truetype");
}

@font-face {
    font-family: "DOS";
    src: url("/src/styles/fonts/fonts/dos.ttf") format("truetype");
}

@font-face {
    font-family: "Wingdings";
    src: url("/src/styles/fonts/fonts/wingding.ttf") format("truetype");
}