.liveEdit {
    box-sizing: border-box;
}

.liveEditor {
    border: none;
    border-bottom: 2px solid var(--tri);
    border-radius: 0.75rem 0.75rem 0 0;
    background-color: var(--mid-pri);
    user-select: none;
    min-height: 100px;
    resize: vertical;
    font-size: 1rem;
    outline: none;
    width: 100%;
}

.liveEditor:hover {
    border-bottom-color: var(--qua);
}

.liveEditor:focus, .liveEditor.focus {
    border-bottom-color: var(--accent-color);
}

.optionBar {
    justify-content: space-between;
    background-color: var(--pri);
    margin-block-end: 0.25rem;
    border-radius: 0.5rem;
    padding: 0.25rem;
    display: flex;
}

.optionBar > div {
    flex-flow: row nowrap;
    display: flex;
}

.icon {
    box-sizing: content-box;
    border-radius: 0.55rem;
    fill: var(--main);
    padding: 0.325rem;
    height: 1.25rem;
    width: 1.25rem;
    display: block;
}

.icon * {
    display: block;
}

.icon:hover {
    background-color: var(--mid-pri);
}

.icon:active, .icon.active {
    background-color: var(--sec);
}

.suggestions {
    border-radius: 0.5rem !important;
    width: 24rem !important;
    overflow-x: hidden;
    max-height: 10rem;
    overflow-y: auto;
}