@import url("./themes/all.css");
@import url("./colors.css");
@import url("./cursor.css");

:root {
    --background: #eee;
    --main: black;
    --rev: white;

    --pri: #ddd;
    --sec: #ccc;
    --tri: #bbb;
    --qua: #aaa;

    --mid-pri: #d0d0d0;
    --mid-sec: #c0c0c0;
    --mid-tri: #b0b0b0;
    --mid-qua: #a0a0a0;

    --default-accent: #690D22;
    --sucess: darkgreen;
    --warn: goldenrod;
    --alert: darkred;
    --info: #0078D4;

    --link: var(--accent-color);
    --accent-color: var(--default-accent);
    --font: var(--default-font);
    --transition: var(--default-transition);

    --default-transition: all 0.1s;
    --default-font: "Segoe UI Variable Display", "Segoe UI", system-ui;

    background: var(--background);
    color: var(--main);

    line-height: 1.3;
    color-scheme: light;
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --background: #111111;
        --main: white;
        --rev: black;

        --pri: #222222;
        --sec: #333333;
        --tri: #444444;
        --qua: #555555;

        --mid-pri: #262626;
        --mid-sec: #c6c6c6;
        --mid-tri: #b6b6b6;
        --mid-qua: #a6a6a6;

        --default-accent: #FF1010;
        --sucess: green;
        --warn: gold;
        --alert: red;

        color-scheme: dark;
    }
}

:root.light {
    --background: #eeeeee !important;
    --main: black !important;
    --rev: white !important;

    --pri: #dddddd !important;
    --sec: #cccccc !important;
    --tri: #bbbbbb !important;
    --qua: #aaaaaa !important;

    --mid-pri: #d0d0d0 !important;
    --mid-sec: #c0c0c0 !important;
    --mid-tri: #b0b0b0 !important;
    --mid-qua: #a0a0a0 !important;

    --default-accent: #690D22 !important;
    --sucess: darkgreen !important;
    --warn: goldenrod !important;
    --alert: darkred !important;

    --accent-color: var(--default-accent);
    --link: var(--accent-color);
    background: var(--background);
    color: var(--main);

    color-scheme: light !important;
}

:root.dark {
    --background: #111111 !important;
    --main: white !important;
    --rev: black !important;

    --pri: #222222 !important;
    --sec: #333333 !important;
    --tri: #444444 !important;
    --qua: #555555 !important;

    --mid-pri: #262626 !important;
    --mid-sec: #c6c6c6 !important;
    --mid-tri: #b6b6b6 !important;
    --mid-qua: #a6a6a6 !important;

    --default-accent: #FF1010 !important;
    --sucess: green !important;
    --warn: gold !important;
    --alert: red !important;

    --accent-color: var(--default-accent);
    --link: var(--accent-color);
    background: var(--background);
    color: var(--main);

    color-scheme: dark !important;
}

@media screen and (prefers-reduced-motion: reduce) {
    :root {
        --transition: none;
    }
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

* {
    box-sizing: border-box;
    transition: var(--transition);
    font-variation-settings: "opsz" 36;
    accent-color: var(--accent-color);
    line-height: 1.3;
}

@supports (scrollbar-color: auto) {
    :root, body {
        scrollbar-color: #A8A8A8 var(--pri);
    }

    :not(:root) {
        scrollbar-width: thin;
        scrollbar-color: #A8A8A8 transparent;
    }

    @media screen and (prefers-color-scheme: dark) {
        :root, body {
            scrollbar-color: #686868 var(--pri);
        }

        :not(:root) {
            scrollbar-width: thin;
            scrollbar-color: #686868 transparent;
        }
    }

    :root.light {
        scrollbar-color: #A8A8A8 var(--pri);
    }

    :root.light :not(:root) {
        scrollbar-width: thin;
        scrollbar-color: #A8A8A8 transparent;
    }

    :root.dark {
        scrollbar-color: #686868 var(--pri);
    }

    :root.dark :not(:root) {
        scrollbar-width: thin;
        scrollbar-color: #686868 transparent;
    }
}

@supports selector(::-webkit-scrollbar) {
    ::-webkit-scrollbar {
        width: 15px;
        height: 15px;
        border: 1px solid var(--qua);
    }

    :not(body)::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    ::-webkit-scrollbar-track {
        background: var(--pri);
        border-left: 1px solid var(--qua);
    }

    :not(body)::-webkit-scrollbar-track {
        border: none;
    }

    ::-webkit-scrollbar-thumb {
        background: var(--sec);
        border: 1px solid var(--qua);
    }

    ::-webkit-scrollbar-thumb:hover {
        background: var(--tri);
    }

    ::-webkit-scrollbar-thumb:active {
        background: var(--qua);
    }
}

body {
    height: 100vh;
    margin: 0;
}

body::before, body::after {
    content: revert !important;
}

header, main, section, article, aside, footer {
    display: block;
}

.hidden {
    display: none !important;
}

::selection {
    background-color: var(--accent-color);
    color: var(--main);
}

.emoji {
    font-family: "GoogleEmoji", system-ui;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--accent-color);
    margin: 0;
}

p {
    margin-top: 0;
}

pre {
    border: var(--tri) solid 1px;
    border-radius: 1rem;
    padding: 1rem;
}

a:any-link, a.links {
    color: var(--link) !important;
    text-decoration: underline;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

.marquee {
    -moz-animation: marquee 2s linear infinite;
    -webkit-animation: marquee 2s linear infinite;
    animation: marquee 20s linear infinite;
}

svg.spinner {
    display: block;
    shape-rendering: auto;
    background: transparent;
    transition: none !important;
    stroke: var(--accent-color);
}

svg.spinner > * {
    transition: none !important;
}

#alert-floater {
    position: fixed;
    left: 50%; top: 60px;
    transform: translateX(-50%);
    user-select: none;
}

#alert-floater > * {
    margin-bottom: 10px;
    padding: 10px;
    background: var(--sec);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    box-shadow: black 0 0 10px;
    max-width: 480px;
}

#alert-floater > .alert {
    background: var(--alert);
    color: white;
}

#alert-floater > .warn {
    background: var(--warn);
    color: black;
}

#alert-floater > .info {
    background: var(--info);
    color: white;
}

#alert-floater > * > div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

#alert-floater > * > div > div > * {
    margin: 0;
}

#alert-floater > * > div h3 {
    color: inherit;
}

#alert-floater > * > div > .icon {
    font-size: 2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin-right: 10px;
}

#alert-floater > * svg {
    flex-shrink: 0;
    height: 1em;
    width: 1em;
}

#alert-floater > * > .close {
    border-radius: 0.5rem;
    margin-left: 10px;
    padding: 0.5rem;
    height: 2.5rem;
    width: auto;
}

#alert-floater > * > .close:hover {
    background: #fff4;
}

#alert-floater > * > .close:active {
    background: #fff5;
}

input:not([type="file"]):not([type="button"]), select {
    font-family: inherit;
    background: transparent !important;
    color: var(--main);
    border: none;
    outline: none;
    border-bottom: 2px solid var(--tri);
    padding: 5px;
    accent-color: var(--accent-color);
    text-align: center;
}

input:not([type="file"]):not([type="button"]):hover, select:hover {
    border-bottom-color: var(--qua);
}

input:not([type="file"]):not([type="button"]):focus, select:focus {
    border-bottom-color: var(--accent-color);
}

input[type="file"] {
    font-family: inherit;
    background: transparent !important;
    color: var(--main);
    border: none;
    outline: none;
    padding: 5px;
    accent-color: var(--accent-color);
    text-align: center;
}

option {
    background: var(--pri);
    color: var(--main);
    accent-color: var(--accent-color);
}

a.button {
    display: inline-block;
}

button, a.button, input[type="button"], input[type="submit"], input[type="reset"] {
    padding: 8px 10px;
    background: var(--accent-color);
    color: var(--rev) !important;
    text-decoration: none;
    font-family: inherit;
    border: none;
    border-radius: 0.5rem;
    font-size: 0.8rem;
}

button:hover, a.button:hover, input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover {
    opacity: 0.8;
}

button:active, a.button:active, input[type="button"]:active, input[type="submit"]:active, input[type="reset"]:active {
    opacity: 0.7;
}

button:disabled, a.button:disabled, input[type="button"]:disabled, input[type="submit"]:disabled, input[type="reset"]:disabled {
    opacity: 0.6;
}

#modal-portal {
    -webkit-user-select: none;
    flex-flow: column nowrap;
    justify-content: center;
    -moz-user-select: none;
    -ms-user-select: none;
    align-items: center;
    user-select: none;
    position: fixed;
    display: flex;
    z-index: 10;
}

#modal-portal:has(div) {
    inset: 0 !important;
}

div.dialog > header {
    text-align: center;
    user-select: none;
}

div.dialog > header > h1.small {
    font-size: 1.75rem;
}

div.dialog > footer {
    margin-top: 1rem;
    text-align: center;
    user-select: none;
}

div.modal {
    background: var(--pri);
    opacity: 0.7;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    z-index: 12;
}

div.context-menu {
    background-color: var(--pri);
    box-shadow: black 0 0 10px;
    border-radius: 0.5rem;
    user-select: none;
    position: fixed;
    z-index: 3;
}

div.context-menu > div {
    padding: 0.5rem 0.75rem;
}

div.context-menu > div > span.icon {
    transform: translate(-2px, -2px);
    display: inline-block;
    font-size: 1.25rem;
    max-height: 12px;
    position: fixed;
}

div.context-menu > div > span:not(.icon) {
    display: inline-block;
    padding-left: 1.5rem;
}

div.context-menu > div:hover {
    background-color: var(--sec);
}

div.context-menu > div:active {
    background-color: var(--tri);
}

div.context-menu > div.disabled {
    background-color: var(--sec);
    opacity: 0.4;
}

div.context-menu > div:first-child {
    border-radius: 0.5rem 0.5rem 0 0;
}

div.context-menu > div:last-child {
    border-radius: 0 0 0.5rem 0.5rem;
}

div.context-menu > div:first-child:last-child {
    border-radius: 0.5rem;
}

iframe {
    width: 100%;
    border: none;
}

clippy .clippy {
    z-index: 2;
}

clippy *:not(.context-menu) {
    transition: none;
}

.rainbow, rainbow {
    animation: anim-rainbow 5s infinite;
    transition: none;
}

@keyframes anim-rainbow {
    0% {
        color: hsla(0deg 100% 50%);
        fill: hsla(0deg 100% 50%);
    }
    16.67% {
        color: hsla(60deg 100% 50%);
        fill: hsla(60deg 100% 50%);
    }
    33.33% {
        color: hsla(120deg 100% 50%);
        fill: hsla(120deg 100% 50%);
    }
    50% {
        color: hsla(180deg 100% 50%);
        fill: hsla(180deg 100% 50%);
    }
    66.67% {
        color: hsla(240deg 100% 50%);
        fill: hsla(240deg 100% 50%);
    }
    83.33% {
        color: hsla(300deg 100% 50%);
        fill: hsla(300deg 100% 50%);
    }
    100% {
        color: hsla(360deg 100% 50%);
        fill: hsla(0deg 100% 50%);
    }
}

@keyframes bkg-rainbow {
    0% {
        background-color: hsla(0deg 100% 50%);
    }
    16.67% {
        background-color: hsla(60deg 100% 50%);
    }
    33.33% {
        background-color: hsla(120deg 100% 50%);
    }
    50% {
        background-color: hsla(180deg 100% 50%);
    }
    66.67% {
        background-color: hsla(240deg 100% 50%);
    }
    83.33% {
        background-color: hsla(300deg 100% 50%);
    }
    100% {
        background-color: hsla(360deg 100% 50%);
    }
}

@media screen and (max-width: 500px) {
    div.dialog {
        min-width: 100vw;
        border-radius: 0;
        padding: 1rem 1.5rem;
    }

    #alert-floater {
        top: 51px;
    }

    #alert-floater > * {
        width: 100vw;
        border-radius: 0;
    }
}

:has(.react-switch-bg):has(input[type="checkbox"][aria-checked="true"]) .react-switch-bg {
    background-color: var(--accent-color) !important;
}