.corePostHeader {
    justify-content: center;
    margin-bottom: 0.75rem;
    text-decoration: none;
    width: fit-content;
    user-select: none;
    flex-flow: row;
    display: flex;
}

.corePostHeaderContent {
    margin-left: 0.5rem;
    font-size: 0.9rem;
    flex-flow: column;
    line-height: 1;
    display: flex;
    opacity: 0.8;
}

.corePostHeaderContent .username {
    align-items: center;
    flex-flow: row;
    display: flex;
}

.corePostHeaderContent .username svg {
    transform: scale(1.25);
    padding-left: 0.25rem;
    display: inline-block;
    height: 15px;
    width: 15px;
}

.corePostHeaderContent :last-child {
    font-size: 0.75rem;
}

.profilePicture {
    -webkit-user-drag: none;
    border-radius: 100%;
    user-select: none;
}

.profilePictureSmall {
    height: 16px;
    width: 16px;
}

.profilePictureMedium {
    height: 32px;
    width: 32px;
}

.profilePictureLarge {
    height: 64px;
    width: 64px;
}

.profilePictureExtraLarge {
    height: 96px;
    width: 96px;
}