.main > div {
    margin-block-start: 0.5rem;
}

.main > div > h3 {
    color: var(--main);
}

.main > div > p {
    line-height: 1;
}

.input {
    font-family: inherit;
    background: transparent !important;
    color: var(--main);
    border: none;
    outline: none;
    border-bottom: 2px solid var(--tri);
    accent-color: var(--accent-color);
    text-align: left;
    width: 100%;
    line-height: 1;
    display: flex;
    align-items: center;
}

.input:hover {
    border-bottom-color: var(--qua);
}

.input:has(:focus) {
    border-bottom-color: var(--accent-color);
}

.input > div:not(.chip) {
    outline: none;
    padding: 5px;
    width: 100%;
}

.suggestions {
    border-radius: 0 0 0.5rem 0.5rem;
    background-color: var(--sec);
    width: calc(100% - 3rem);
    list-style-type: none;
    position: absolute;
    padding: 0;
    margin: 0;
}

.suggestions li {
    padding: 0.35rem 0.6rem;
    border-radius: 0.5rem;
}

.chip {
    font-size: 0.75rem !important;
    background-color: var(--sec);
    border-radius: 0.5rem;
    height: fit-content;
    padding: 0.3125rem;
    line-height: 8px;
    flex-shrink: 0;
}

.chip:not(:last-child) {
    margin-inline-end: 0.075rem;
}

.chip > button {
    background-color: transparent;
    color: var(--main) !important;
    line-height: 10px;
    padding: 0;
}

.chip > button:hover {
    color: var(--default-accent) !important;
    font-weight: bold;
}

.inputBox {
    font-family: inherit;
    background: transparent !important;
    color: var(--main);
    border: none !important;
    outline: none;
    accent-color: var(--accent-color);
    text-align: left !important;
    width: 100%;
    line-height: 1;
    display: flex;
}