:root:has(body.christmas) {
    --accent-color: var(--winter);
}

body.christmas::before {
    background-image: url("https://cdn.croomssched.tech/data/7291ef48-5f58-4f73-a79d-23f146afd471/ChristmasTall.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0; left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    opacity: 0.2;
    content: "";
}

body.christmas::after {
    backdrop-filter: blur(20px);
    position: fixed;
    top: 0; left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    content: "";
}

@media screen and (prefers-color-scheme: dark) {
    body.christmas::before {
        background-image: url("https://cdn.croomssched.tech/data/7291ef48-5f58-4f73-a79d-23f146afd471/Drummer%20Boy%20Christmas%20Wide.png");
        background-position: center;
        opacity: 1;
    }

    body.christmas::after {
        backdrop-filter: blur(20px) brightness(60%);
    }
}

:root.light > body.christmas::before {
    background-image: url("https://cdn.croomssched.tech/data/7291ef48-5f58-4f73-a79d-23f146afd471/ChristmasTall.png") !important;
    background-position: center bottom !important;
    opacity: 0.2 !important;
}

:root.light > body.christmas::after {
    backdrop-filter: blur(20px) !important;
}

:root.dark > body.christmas::before {
    background-image: url("https://cdn.croomssched.tech/data/7291ef48-5f58-4f73-a79d-23f146afd471/Drummer%20Boy%20Christmas%20Wide.png") !important;
    background-position: center !important;
    opacity: 1 !important;
}

:root.dark > body.christmas::after {
    backdrop-filter: blur(20px) brightness(60%) !important;
}