body:has(.root) {
    header, footer, nav, aside {
        display: none !important;
    }

    main {
        padding: 0;
    }
}

.root::before {
    background-image: url("https://cdn.croomssched.tech/data/7291ef48-5f58-4f73-a79d-23f146afd471/ChristmasTall.png");
    background-position: center 95%;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0; left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0.5;
    z-index: -1;
    content: "";
}

.root::after {
    backdrop-filter: blur(20px);
    position: fixed;
    top: 0; left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    content: "";
}