:root {
    --background: #eeeeee;
    --main: black;
    --rev: white;

    --pri: #dddddd;
    --sec: #cccccc;
    --tri: #bbbbbb;
    --qua: #aaaaaa;

    --mid-pri: #d0d0d0;

    --default-accent: #690D22;
    --sucess: darkgreen;
    --warn: goldenrod;
    --alert: darkred;
    --info: #0078D4;

    --link: var(--accent-color);
    --accent-color: var(--default-accent);
    --font: var(--default-font);
    --transition: var(--default-transition);

    --default-transition: all 0.1s;
    --default-font: "SegoeUI", "Segoe UI Variable Display", "Segoe UI", system-ui;
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --background: #111111;
        --main: white;
        --rev: black;

        --pri: #222222;
        --sec: #333333;
        --tri: #444444;
        --qua: #555555;

        --mid-pri: #262626;

        --default-accent: #FF1010;
        --sucess: green;
        --warn: gold;
        --alert: red;
    }
}

:root.light {
    --background: #eeeeee !important;
    --main: black !important;
    --rev: white !important;

    --pri: #dddddd !important;
    --sec: #cccccc !important;
    --tri: #bbbbbb !important;
    --qua: #aaaaaa !important;

    --mid-pri: #d0d0d0 !important;

    --default-accent: #690D22 !important;
    --sucess: darkgreen !important;
    --warn: goldenrod !important;
    --alert: darkred !important;
}

:root.dark {
    --background: #111111 !important;
    --main: white !important;
    --rev: black !important;

    --pri: #222222 !important;
    --sec: #333333 !important;
    --tri: #444444 !important;
    --qua: #555555 !important;

    --mid-pri: #262626 !important;

    --default-accent: #FF1010 !important;
    --sucess: green !important;
    --warn: gold !important;
    --alert: red !important;
}