.container {
    flex-flow: column nowrap;
    justify-content: center;
    max-width: fit-content;
    align-items: center;
    text-align: center;
    user-select: none;
    display: flex;
    margin: auto;
    height: calc(100vh - 53px - 31px);
}

.container > img {
    padding: 1rem;
    border-radius: 0.5rem;
    background: var(--pri);
    height: auto;
    width: 250px;
    margin-bottom: 1rem;
}

.container > a.button {
    margin-top: 1rem;
}