body {
    height: revert;

    header, footer, nav, #christmas-menu {
        display: none !important;
    }

    main {
        padding-block: 0 !important;
    }
}

#cbsh-application-embed {
    margin: 0.5rem;
}