.container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    max-width: 100px;
    margin: auto;

    height: calc(100vh - 53px - 31px);
    user-select: none;
}

.content {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.container > .content > svg {
    margin-right: 0.25rem;
    height: auto;
    width: 100%;
}