@import url("/styles/icons.css");
@import url("/styles/app.css");

#cbsh-webring {
    transition: opacity 0.2s;
    color: var(--main);
    position: fixed;
}

#cbsh-webring > header {
    background-color: var(--tri);
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 0.5rem;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: center;
    display: flex;
}

#cbsh-webring > header > span:first-child {
    display: flex;
}

#cbsh-webring > header > span:first-child:before {
    content: "";
    margin-right: 0.25rem;
    background-image: url("https://croomssched.tech/favicon.ico");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: block;
    height: 21px;
    width: 21px;
}

#cbsh-webring > header > span:first-child:after {
    content: "Crooms Webring";
}

#cbsh-webring > header > span:last-child:after {
    font-family: "MatIcons", system-ui;
    padding: 0 0.125rem;
    content: "close";
    display: block;
}

#cbsh-webring > main {
    border-radius: 0 0 0.5rem 0.5rem;
    justify-content: space-between;
    border: 1px solid var(--tri);
    background-color: var(--pri);
    flex-flow: row nowrap;
    align-items: center;
    padding: 0.5rem;
    display: flex;
}