.accordion {
    background: var(--sec);
    margin-bottom: 2px;
}

.accordionHeader {
    padding: 0.75rem;
    font-size: 1rem;
    line-height: 1;
    width: 100%;
}

.accordionHeader:hover {
    background: var(--mid-sec);
}

.accordionHeader:active, .accordion:has(.accordionContent) .accordionHeader {
    background: var(--tri);
}

.accordionContent {
    border-radius: 1rem;
    padding: 0.75rem;
}

.accordion:first-child {
    border-radius: 1rem 1rem 0 0;
}

.accordion:first-child > .accordionHeader {
    border-radius: 1rem 1rem 0 0;
}

.accordion:last-child {
    border-radius: 0 0 1rem 1rem;
    margin-bottom: 0;
}

.accordion:last-child > .accordionHeader {
    border-radius: 0 0 1rem 1rem;
}

.accordion:last-child:has(.accordionContent) > .accordionHeader {
    border-radius: 0;
}

.footerInfo {
    margin-block-start: 1rem;
    align-items: center;
    font-size: 0.7rem;
    display: flex;
}

.footerInfo svg {
    fill: var(--main);
    display: block;
}

.footerInfo svg.priority {
    fill: var(--alert);
}

.footerInfo:not(:has(.priority)) svg {
    margin-left: 0.325rem;
}