.header {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 1;
}

.subheader {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    font-weight: normal;
    color: var(--main);
    user-select: none;
    line-height: 1.3;
}

.header:last-child {
    margin-bottom: 1.5rem;
}

.subheader:last-child {
    margin-bottom: 1.5rem;
}